<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Barcode"
        tools:targetApi="31">
        <activity
            android:name=".create.QRCODEMOMMO"
            android:exported="false" />
        <activity
            android:name=".scan.activity_scan_gallery"
            android:exported="false" />
        <activity
            android:name=".scan.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scan.ScanResultActivity" />
        <activity android:name=".create.ITF" />
        <activity android:name=".create.Codabar" />
        <activity android:name=".create.Code39" />
        <activity android:name=".create.Code93" />
        <activity android:name=".create.Code128" />
        <activity android:name=".create.UPCA" />
        <activity android:name=".create.UPCE" />
        <activity android:name=".create.EAN8" />
        <activity android:name=".create.EAN13" />
        <activity android:name=".create.AZTEC" />
        <activity android:name=".create.PDF417" />
        <activity android:name=".create.DATAMATRIX" />
        <activity
            android:name="com.example.barcode.create.QRCODE"
            android:label="QR Code Generator">
        </activity>


    </application>

</manifest>